{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acceso Premium a Plantillas</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>Acceso Premium a Plantillas de CV</h1>
    <p>Costo: <span>$1.00</span></p>
    
    <form action="{% url 'charge' %}" method="post" id="payment-form">
        {% csrf_token %}
        <div id="card-element"></div>
        <button type="submit">Pagar</button>
    </form>

    <script>
        var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}'); // Solo la clave pública
        var elements = stripe.elements();
        var card = elements.create('card');
        card.mount('#card-element');
        
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    console.error(result.error.message);
                } else {
                    var hiddenInput = document.createElement('input');
                    hiddenInput.setAttribute('type', 'hidden');
                    hiddenInput.setAttribute('name', 'stripeToken');
                    hiddenInput.setAttribute('value', result.token.id);
                    form.appendChild(hiddenInput);
                    form.submit();
                }
            });
        });
    </script>
</body>
</html>
