<h2>Registro de Usuario</h2> 
<form method="post">
    {% csrf_token %}
    <div>
        {{ usuario_form.username.label_tag }}
        {{ usuario_form.username }}
        {{ usuario_form.username.errors }}
    </div>
    <div>
        {{ usuario_form.email.label_tag }}
        {{ usuario_form.email }}
        {{ usuario_form.email.errors }}
    </div>
    <div>
        {{ usuario_form.password1.label_tag }}
        {{ usuario_form.password1 }}
        {{ usuario_form.password1.errors }}
    </div>
    <div>
        {{ usuario_form.password2.label_tag }}
        {{ usuario_form.password2 }}
        {{ usuario_form.password2.errors }}
    </div>
    <button type="submit">Registrar</button>
</form>